AirVentsCadWpf/Service References/VentsCadService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfMaterial" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sizes" nillable="true" type="tns:ArrayOfSizes" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameters" nillable="true" type="tns:Parameters" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thikness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="ArrayOfSizes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sizes" nillable="true" type="tns:Sizes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSizes" nillable="true" type="tns:ArrayOfSizes" />
  <xs:complexType name="Sizes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Additional1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Additional2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Additional3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Depth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lenght" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thikness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sizes" nillable="true" type="tns:Sizes" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddBoolParam1" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddBoolParam2" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddBoolParam3" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddParam1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddParam2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddParam3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="ProductPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPdm" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPlace" nillable="true" type="tns:ProductPlace" />
</xs:schema>