AirVentsCadWpf/Service References/VentsCadService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.14.86/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Materials" nillable="true" type="q1:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sizes" nillable="true" type="tns:ArrayOfSizes" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameters" nillable="true" type="tns:Parameters" />
  <xs:complexType name="ArrayOfSizes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sizes" nillable="true" type="tns:Sizes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSizes" nillable="true" type="tns:ArrayOfSizes" />
  <xs:complexType name="Sizes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lenght" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sizes" nillable="true" type="tns:Sizes" />
  <xs:complexType name="ProductPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPdm" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPlace" nillable="true" type="tns:ProductPlace" />
</xs:schema>