AirVentsCadWpf/Service References/VentsCadService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.14.86/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" />
  <xs:element name="Build">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" minOccurs="0" name="parameters" nillable="true" type="q1:Parameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" minOccurs="0" name="place" nillable="true" type="q2:ProductPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBusy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBusyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBusyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildSp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildSpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VentsCadServiceLibrary" minOccurs="0" name="place" nillable="true" type="q3:ProductPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildSpigot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildSpigotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="idPdm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>